name: Build and Deploy Blog Website

on:
  push:
    branches:
      - main  # Triggers on push to 'main'
  pull_request:
    branches:
      - main  # Triggers on PRs to 'main'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build Next.js application
        env: 
          WORDPRESS_URL: https://wp.keploy.io/graphql
        run: npm run build